@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<Restaurant> 

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
        @foreach (Restaurant r in Model)
        {
            <li>r.RestaurantName</li>
        }
    </ul>
</div>
